<nav class="green">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">NodeJS</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </div>
</nav>