<nav class="green">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">NodeJS</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav green lighten-5" id="mobile">
    <li class="center green darken-4"><a href="/" class="brand-logo center white-text">NodeJS</a></li>
    <li><a href="/produtos">Produtos</a></li>
    <li><a href="/cadastro">Cadastro</a></li>
    <li><a href="/clientes">Clientes</a></li>
    <li><a href="/sobre">Sobre</a></li>
</ul>

